<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html/css; charset=utf-8">
		<title>GIFF &mdash; Join the Fun </title>

		<link rel="stylesheet" href="/css/style.css">
	
	</head>
	
	<body>	
		<div id="wrapper">
		
			<main class="Giff">
				<div id="content">
					<div class="">
						</h1></h1>
						<img src="https://media.giphy.com/media/SkmNqaquViBJVIS5d4/giphy.gif" alt="Logo.gif" style= "width:600px;height:800px;">
					</div>
				</div>
			</main>
			
			<nav>
				<div class="Login_Button">
					<div></div>
					<br>
					<h2 style="font-size: 3pc;">Join The Fun !</h2>
					<h2 style="font-style:initial;">Join GIFF Today.</h2>
					<br>
					<h3></h3>
					<ul>
						<li style="font-size: x-large;"><a href="#">[  Sign-Up with phone 📞 or email  ] </a></li>
					</ul>
					<hr><hr>
					<ul>
						<li style="font-size: x-large;"><a href="http://localhost:1337/thread">[  Login as a guest  ] </a></li>
					</ul>
					<h3></h3>
					<small>By signing up, you herby agree to the <a href="http://localhost:1337/page1">terms and conditions.</a></small> 
					<br>
					<small>And the use of cookies.</small>
					<br>
					<br>
					<h2 style="font-size: 1pc;">Already have an account ?</h2>
				</div>

				<div class="form-popup" id="myForm">
					<form action="/action_page" class="form-container" method="POST">
					  <h1></h1>
				  
					  <label for="email"><b></b></label>
					  <input type="text" placeholder="Email or Username" name="email" required>
				  
					  <label for="psw"><b>and</b></label>
					  <input type="password" placeholder="Enter Password" name="psw" required>
				  
					  <button type="submit" class="btn">Login</button>
					</form>
				  </div>
			</nav>
		
		</div>
		
		<footer>
			<hr>
			<p style="text-align: center"> 
			<small> GIFF-(C) 2022 Abdelhady</small>
			<br>
			<small>Contact Us!<a href="yabdelhady905@gmail.com">Email</a></small>
		</footer>
	
	</body>
</html>