<!DOCTYPE html>
<!-- Website Legal Disclaimer
    3/23/2022
-->
<html lang="en">
<head>
    <title> Legal Disclaimer</title>
    <meta charset="utf-8"
</head>
<body>
    <header>
        <h2> Terms of Use and Conditions </h2>
    </header>
    <dl>
        <dt>1. Who May Use the Service </dt>
        <dd> You may use the Services only if you agree to form a binding contract with GIFF and are not a person barred from receiving services under the laws of the applicable jurisdiction. In any case, you must be at least 13 years old, or in the case of Periscope 16 years old, to use the Services. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so and have the authority to bind such entity to these Terms, in which case the words “you” and “your” as used in these Terms shall refer to such entity. </dd>
        <br>
        <dt> 2. Privacy  </dt> 
        <dd> You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States, Ireland, and/or other countries for storage, processing and use by GIFF and its affiliates. </dd>
        <br>
        <dt> 3. Content on the Services </dt>  
        <dd> You are responsible for your use of the Services and for any Content you provide, including compliance with applicable laws, rules, and regulations. You should only provide Content that you are comfortable sharing with others. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. </dd>
        <br>
        <dt> 4. Accounts  </dt> 
        <dd> You have to create an account and specify a password to use certain features on our Services. You are entirely responsible for maintaining the confidentiality of your password and your account, and you are entirely responsible for all activity made by you or anyone that uses your account. You agree to safeguard your password from access by others. We are not responsible for any loss becuase of unathorized use of your account.</dd>
        <br>
        <dt> 5. Third Party Link </dt>
        <dd> Often, sites, apps or services may contain links to and/or functionality interacting with third party sites that are not owned, operated or controlled by us. All such links are provided solely as a convenience and do not constitute an endorsement by us </dd>
        <br>
        <dt> 6. Copyright </dt>
        <dd> Any copyrighted work that your belive may be yours. Please describe the work and, where possible, include a copy of the work or the location (e.g., URL or page within the App) of an authorized version of the work, together with information regarding any copyright registration you own for the work you believe to be infringed. Give us your name, email, Phone number. </dd>
        <br>
        <br>
    </dl>
        <header>
            <h2> Acceptance </h2>
        </header>
        <dl> If your accept our terms and conditions please continue, if not please exist out. Buy creating an account you herby accept our conditions.</dl>

    <footer>
        <hr>
        <p style="text-align: center">
        <small> GIFF-(C) 2022 Abdelhady </small>
        <br> 
    </footer>
</body>
</html>