<!DOCTYPE html>
<html>
	<head>
    <script src="/js/signup.js" defer> </script>
		<meta http-equiv="Content-Type" content="text/html/css; charset=utf-8">
		<title>GIFF &mdash; Join the Fun </title>

		<link rel="stylesheet" href="/css/style.css">
	
	</head>
<body>
<form action="action_page.php">
  <link rel="stylesheet" href="/css/signup.css">
  <div id="feed">This is where the feed will go!</div>
    <div class="container">
      <h1>CLICK ^^^</h1>
      <p>Please Click on a user to create an account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>By creating an account you agree to our <a href="http://localhost:1337/page1">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
  
    </div>
  
    <div class="container signin">

    </div>
</body>
</form>